<div class="row"> 
    <div class="column">
      <a href="#">
       <img src="assets/img/headerr.png "  alt="HTML tutorial"  style="margin-left:250px"></a>
       
       </div>
       </div>
       
<!---
    <form class="example-form">

  	 <mat-label>Phone number </mat-label>
	<mat-form-field class="example-full-width">
		<input type="number" matInput placeholder="Phone number" [formControl]="PhoneNumber" required maxlength="10">
             <mat-hint>Errors appear instantly!</mat-hint>
             <mat-error *ngIf="PhoneNumber.hasError('pattern')">
               Phone number is <strong>required</strong> Please enter valid mumber
             </mat-error>
                                   
  </mat-form-field>
</form>


<h3>Template-driven Form</h3>
<p *ngIf="isValidFormSubmitted" [ngClass] = "'success'">
    Form submitted successfully.
</p>
<form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
  <input name="password" type="password" [ngModel]="user.password" required [pattern]="pwdPattern" #pwd="ngModel">
		<div *ngIf="pwd.errors && userForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
			<div *ngIf="pwd.errors.required"> 
				Password required.
			</div>
			<div *ngIf="pwd.errors.pattern"> 
				Password not valid.
			</div>	
    </div> -->
    